<div class="container footer">
   <div class="row">
      <div class="col-md-12">
        <p><a href='https://sites.google.com/a/umich.edu/bhl-archival-curation/processing-archival-collections' target='_blank'>BHL Processing Manual</a> | ArchivesSpace <%= ASConstants.VERSION %></p>
      </div>
   </div>
</div>